node_modules
.env.*
.gitignore
.gitmodules
.github
.pipelines
.gitlab-ci-functions
docker-compose*
Makefile

LICENSE
.editorconfig
.dockerignore
.docker/config.json
.pipelines/.env.*
.git
.idea
.buildNodeID
.token_seed
.token_seed.lock
